.productImg {
  position: relative;
  display: inline-block;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
.productQuantity {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: 6px;
  font-size: 12px;
  background-color: var(--primary-green);
  color: #fff;
}
