.rating {
    background-color: var(--secondary);
}
.feedback {
    background-color: #fff;
}
.currentImg {
    img {
        width: 708px;
        height: 708px;
        object-fit: cover;
    }
}
.slideImg {
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}
